.photobooth-btn {
    background: #ff6b6b;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
    height: auto;
    padding: 12px 30px;
    margin-top: 1vh;
}

.heartbeat{
    animation: heartBeat 0.1s;
}

@keyframes heartBeat {
    0% { transform: scale(1); }
    50% { transform: scale(0.8);}
    100% { transform: scale(1); }
}

.map{
    width: 100%;
    margin-top: 50%;
}

iframe{
    width: 100%;
    height: auto;
}

.map-text{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #ff3a8d;
    margin-top: 1vh;
    justify-content: center;
}